@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
$color-fondo: #FAECD5;
$color-blanco: #FDFCFA;
$color-boton: #6F2F3F;
$color-texto: #242424;
$color-secundario: #E4E7B2;
$color-borde: #6E6E6E;
$fuente-titulos: "Instrument Serif", serif;
$fuente-texto: "Karla", sans-serif;