@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;
body{
    font-family: v.$fuente-texto;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: v.$fuente-titulos;
}
h1 {
    font-size: 3rem;
    font-weight: 400;
    @include m.desktop{
        font-size: 4rem;
    }
}
h2 {
    font-size: 2.25rem;
    font-weight: 400;
    @include m.desktop{
        font-size: 2.5rem;
    }
}
h3 {
    font-size: 1.75rem;
    font-weight: 400;
}
p {
    font-size: 1rem;
    font-weight: 400;
} 
}