*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: blue;
}
/* Font family instrument serif y karla */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
/* font-family: "Instrument Serif", serif; */
/* font-family: "Karla", sans-serif; */

/* MOBILE FIRST INDEX......................................... */
/* body */
body{
    /* margin: 0 16px; */
    background-color: #FAECD5;
    font-family: "Karla", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Instrument Serif", serif;
}
h1{
    font-size: 3rem;
    font-weight: 400;
}
h2{
    font-size: 2.25rem;
    font-weight: 400;
}
h3{
    font-size: 1.75rem;
    font-weight: 400;
}
p{
    font-size: 1rem;
    font-weight: 400;
}

/* header */
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #FDFCFA
}
.navbar{
    padding: 10px 20px;
}
.logo{
    width: 184px;
    height: 36px;
}
.navbar-nav{
    gap: 8px;
}
.nav-link{
    font-family: "karla",sans-serif;
    text-decoration: none;
    color: #242424;
    padding: 5px 2px;
    transition: 0.3s;
}
.nav-link:hover {
    color: #6f2f3f;
}
.nav-link:focus{
    color: #6f2f3f;
}
.nav-link.active{
    color: #6f2f3f;
}
header nav ul li {
    list-style: none;
}

/* hero */
.hero{
    padding: 40px 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "herotexto" "fotohero" ;
    gap: 40px;
}
.herotexto{
    grid-area: herotexto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.herotexto nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.herotexto nav a{
    background-color: #6F2F3F;
    color: #FDFCFA;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}
.herotexto nav a:hover{
    background-color: #FDFCFA;
    color: #6f2f3f;
}
.herotexto nav a:focus{
    background-color: #E4E7B2;
    color: #242424;
}
.herotexto nav a:active{
    background-color: #242424;
    color: #FDFCFA;
}
.fotohero{
    grid-area: fotohero;
    width: 100%;
}
.fotoinicio{
    width: 100%;
    height: auto;
}
.biografia{
    text-align: center;
    padding-bottom: 40px 24px 64px;
}
.textobio{
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem ;
}
.habilidades{
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lista_habilidades{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}
.lista_habilidades li{
background-color: #FDFCFA;
    border: 1px #6E6E6E solid;
    border-radius: 10px;
    padding: 20px 20px;
    margin-right: 0px;
}
/* footer mobile */
footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #E4E7B2;
}
.footernav ul li {
    list-style: none;
}
.logo_rss{
    height: 5vh;
    width: auto;
}
.rss{
    display: flex;
    gap: 15px;
}
.logo_ws{
    position: fixed;
    bottom: 30px;
    right: 20px;
    height: 5vh;
    width: auto; 
}
/* MOBILE FIRST PROYECTOS......................................... */
.fotoproyecto{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.proyectos{
    margin: 32px 20px;
}
.texto_proyectos{
 padding-right: 0px;   
}
.mis_proyectos{
    margin: 32px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.un_proyecto{
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: #FDFCFA;
    text-decoration: none;
    color: #242424;
    transition: 0.3s;
}
.un_proyecto:hover{
    background-color: #E4E7B2;
}
.un_proyecto:focus{
    background-color: #E4E7B2;
}
.un_proyecto:active{
    background-color: #6f2f3f;
    color: #FDFCFA;
}
.titulo_proy{
    padding: 0px 20px 20px 20px;
}
/* MOBILE FIRST SOBRE MI.......................................... */
/* sobremi */
.fotosobremi{
    width: 100%;
    height: auto;
}
.sobre_mi{
display: grid;
grid-template-columns: 1fr;
gap: 40px;
margin: 32px 20px;
}
.presentacion{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.informacion{
    padding: opx;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px;
}
.informacion ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 0px;
}
.informacion li {
    list-style: none;
}
.formacion{
    margin: 64px 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.lista_formacion{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.lista_formacion li{
    border-bottom:1px #6E6E6E solid;
    padding-bottom: 20px;
}
.experiencia{
    margin: 64px 20px;
    display: flex;
    flex-direction: column;
    gap: 32px; 
}
.lista_experiencia{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.lista_experiencia li{
    border-bottom:1px #6E6E6E solid;
    padding-bottom: 20px;  
}
.herramientas{
    margin: 64px 20px;
}
.lista_herraminetas{
    list-style: none;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}
.lista_herraminetas li{
    background-color: #FDFCFA;
    border: 1px #6E6E6E solid;
    border-radius: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MOBILE FIRST SERVICIOS............................................ */
/* servicios */
.titulo_serv{
    margin: 40px 20px;
    padding-right: 0px;
}
.servicios{
    margin: 40px 20px;
}
.h2_serv{
    text-align: center;
    margin-bottom: 40px;
}
.lista_serv{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0px;
}
.lista_serv li{
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 220px;
    padding: 30px 20px;
    background-color: #FDFCFA;
    border: #6e6e6e solid 1px;
    border-radius: 10px;
}
.proceso{
    margin: 40px 20px;
}
.carousel-caption{
    color: #000000;
}
/* MOBILE FIRST CONTACTO............................................. */
/* contacto */
.contacto{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 32px 20px;
}
.info_contacto{
    padding-right: 0px;
}
.info_contacto ul{
    padding: 20px 0px;
    list-style: none;
}
.datos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.datos li{
    margin: 0px;
    padding: 12px 0px;
}
.formulario{
    width: 100%;
    padding: 24px;
    background-color: #E4E7B2;
    border-radius: 20px;
}
.fila_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formulario div{
    margin-bottom: 10px;
}
.formulario label{
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}
.formulario textarea {
    height: 280px;
}
.campo_form{
    width: 100%;
}
.boton_formulario{
    background-color: #6f2f3f;
    color: #FDFCFA;
    border: 2px solid #6F2F3F;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}
.boton_formulario:hover{
    background-color: #FDFCFA;
    color: #6f2f3f;
}
.boton_formulario:focus{
    background-color: #E4E7B2;
    color: #242424;
}
.boton_formulario:active{
    background-color: #242424;
    color: #FDFCFA;
}
.formulario div:last-child{
    display: flex;
    gap: 15px;
}
/* DESKTOP INDEX.................................................. */
@media(min-width: 1024px){
    header{
        padding: 1px;
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }
    header nav ul {
        gap: 15px;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.5rem;
    }
    .hero{
        padding: 100px 120px 64px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "herotexto fotohero";
        gap: 40px;
        align-items: center;
    }
    .biografia{
        padding-bottom: 64px;
    }
    .textobio{
        margin-left: 250px;
        margin-right: 250px;
        font-size: 1.5rem;
    }
    .habilidades{
        margin-left: 64px;
        margin-right: 0px;
    }
    .lista_habilidades li{
        margin-right: 64px;
    }
    footer{
        padding: 1px;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
    }
    /* DESKTOP PROYECTOS............................................. */
    .proyectos{
        margin: 64px;
    }
    .texto_proyectos{
        padding-right: 600px;
    }
    .mis_proyectos{
        margin: 64px;
        grid-template-columns: repeat(2, 1fr);
    }
    /* DESKTOP SOBRE MI.................................................. */
    .sobre_mi{
        grid-template-columns: repeat(2, 1fr);
        gap: 64px;
        margin: 64px;
    }
    .fotosobremi{
        width: 629px;
        height: 944px;
    }
    .informacion{
        padding: 90px 200px 0px 0px;
        gap: 64px;
    }
    .informacion ul{
        gap: 64px;
    }
    .formacion{
        margin: 64px;
        flex-direction: row;
        gap: 150px;
    }
    .experiencia{
        margin: 96px 64px 64px 64px;
        flex-direction: row;
        gap: 150px;
    }
    .herramientas{
        margin: 64px;
    }
    .lista_herraminetas{
        margin-top: 64px;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }
    /* DESKTOP SERVICIOS.................................................. */
    .titulo_serv{
        margin: 64px;
        padding-right: 700px;
    }
    .servicios{
        margin: 64px;
    }
    .h2_serv{
        margin-bottom: 64px;
    }
    .lista_serv{
        gap: 40px;
    }
    .lista_serv li{
        width: 480px;
        height: 250px;
        padding: 30px;
    }
    .proceso{
        margin: 64px;
    }
    /* DESKTOP CONTACTO.................................................. */
    .contacto{
        grid-template-columns: repeat(2, 1fr);
        gap: 64px;
        margin: 64px;
    }
    .info_contacto ul{
        padding: 20px 20px 20px 0px;
    }
    .datos{
        gap: 0px;
    }
    .datos li{
        margin: 0px 0px 20px 0px;
        padding: 12px;
    }
    .formulario{
        padding: 30px;
    }
    .fila_form{
        flex-direction: row;
        gap: 20px;
    }

}




